#app {
  height: 600px;
  width: 800px;
  font-size: 3em;
}

#header {
  background-color: red;
}

#footer {
  background-color: indigo;
}

#article-1 {
  background-color: yellow;
}

#article-2 {
  background-color: green;
}

#nav {
  background-color: orange;
}

#ad-area {
  background-color: blue;
}
